body{
  background: radial-gradient(#e5e5e5, #ffff, #e5e5e5)
}

.project-title {
  font-size: 56px;
  font-weight: 400;
  line-height: normal;
  color: white;
}

.card{
  width: 20rem;
  height: 35rem;
}

.card:hover{
  box-shadow: 5px 10px 20px 1px rgb(53, 52, 52, 52) !important;
}

.card-body {
  padding: 3rem 0 !important;
}

.card-text{
  font-size: 0.9rem;
  /* padding: 00.4rem 1rem; */
}

.overflow{
  overflow:hidden;
}

.container-fluid.row{
  padding-top: 4rem;
}

